In [22]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.datasets.samples_generator import make_blobs

In [23]:
data = pd.read_csv("results.csv")
# data["Winner"] = np.where(data['home_score']>data['away_score'], data['home_team'], data['away_team'])
# data["Loser"] = np.where(data['home_score']<data['away_score'], data['home_team'], data['away_team'])
something = data["date"].str.split(pat='-', expand=True)
data["Year"] = something[0]

# data['tournament'].unique()

# 'FIFA World Cup'    'FIFA World Cup qualification'
data = data[data['tournament'] == 'FIFA World Cup']
 
print(len(data))

836

In [24]:
print(len(data['home_team'].unique()))
teams = data['home_team'].unique()
years = data['Year'].unique()

76

In [25]:
new_data = {}
new_data["Year"] = []
new_data["Country"] = []
for team in teams: 
    for year in years:
        new_data["Year"] = np.append(new_data["Year"], year)
        new_data["Country"] = np.append(new_data["Country"], team)

In [26]:
new_df = pd.DataFrame(new_data)

In [27]:
new_df.head()

   Country  Year
0  Belgium  1930
1  Belgium  1934
2  Belgium  1938
3  Belgium  1950
4  Belgium  1954

In [28]:
new_df["Wins"] = 0
new_df["Losses"] = 0
new_df["Draws"] = 0
new_df["Points Scored"] = 0
new_df["Points Against"] = 0

new_df.head()

   Country  Year  Wins  Losses  Draws  Points Scored  Points Against
0  Belgium  1930     0       0      0              0               0
1  Belgium  1934     0       0      0              0               0
2  Belgium  1938     0       0      0              0               0
3  Belgium  1950     0       0      0              0               0
4  Belgium  1954     0       0      0              0               0

In [29]:
for i, r in new_df.iterrows():
    loop_df = data.loc[(data['Year'] == r['Year']) & ((data['home_team'] == r['Country']) | (data['away_team'] == r['Country'])), :]
    wins = 0
    losses = 0
    draws = 0
    scored = 0
    against = 0
    for index, row in loop_df.iterrows():
        if row['home_team'] == r['Country']:            
            if row['home_score'] > row['away_score']:
                new_df.loc[i, 'Wins'] += 1
            elif row['home_score'] == row['away_score']:
                new_df.loc[i, 'Draws'] += 1
            else:
                new_df.loc[i, 'Losses'] +=1
        else:
            if row['home_score'] > row['away_score']:
                new_df.loc[i, 'Losses'] += 1
            elif row['home_score'] == row['away_score']:
                new_df.loc[i, 'Draws'] += 1
            else:
                new_df.loc[i, 'Wins'] +=1
                
        if row['home_team'] == r['Country']:
            new_df.loc[i, 'Points Scored'] = new_df.loc[i, 'Points Scored'] + row['home_score']
            new_df.loc[i, 'Points Against'] =  new_df.loc[i, 'Points Against'] + row['away_score'] 
        else:
            new_df.loc[i, 'Points Scored'] = new_df.loc[i, 'Points Scored'] + row['away_score']
            new_df.loc[i, 'Points Against'] =  new_df.loc[i, 'Points Against'] + row['home_score']

In [30]:
# data.loc[(data['Year'] == '2005') & ((data['home_team'] == 'Scotland') | (data['away_team'] == 'Scotland')), :]

In [31]:
new_df['Ttl Games'] = new_df['Wins'] + new_df['Draws'] + new_df['Losses']
new_df['Win Pct'] = new_df['Wins'] / new_df['Ttl Games']
new_df['PPG'] = new_df['Points Scored'] / new_df['Ttl Games']

In [32]:
placement_df = pd.read_csv('raw_winners.csv')

In [33]:
placement_df.head()

   year  position          team
0  1950         1       Uruguay
1  1950         2        Brazil
2  1950         3        Sweden
3  1950         4         Spain
4  1954         1  West Germany

In [40]:
new_df = pd.merge(new_df, placement_df,  how='left', left_on=['Year','Country'], right_on = ['year','team'])

In [39]:
new_df = new_df[new_df['Ttl Games'] != 0]

In [36]:
new_df.head()

,Country,Year,Wins,Losses,Draws,Points Scored,Points Against,Ttl Games,Win Pct,PPG,year,position,team
0,Belgium,1930,0,2,0,0,4,2,0.000000,0.000000,NaN,NaN,NaN
1,Belgium,1934,0,1,0,2,5,1,0.000000,2.000000,NaN,NaN,NaN
2,Belgium,1938,0,1,0,1,3,1,0.000000,1.000000,NaN,NaN,NaN
4,Belgium,1954,0,1,1,5,8,2,0.000000,2.500000,NaN,NaN,NaN
8,Belgium,1970,1,2,0,4,5,3,0.333333,1.333333,NaN,NaN,NaN

In [37]:
new_df.to_csv("TEST_dataset.csv")