In [30]:
%matplotlib inline 
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.datasets.samples_generator import make_blobs

In [31]:
data = pd.read_csv("results.csv")

data["Winner"] = np.where(data['home_score']>data['away_score'], data['home_team'], data['away_team'])
data["Loser"] = np.where(data['home_score']<data['away_score'], data['home_team'], data['away_team'])
something = data["date"].str.split(pat='-', expand=True)
data["Year"] = something[0]
data["date"].str.split(pat=None, n=-1, expand=False)
 
data.head(50)

,date,home_team,away_team,home_score,away_score,tournament,city,country,Winner,Loser,Year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,England,England,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,England,Scotland,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,Scotland,England,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,Scotland,Scotland,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,Scotland,England,1876
5,1876-03-25,Scotland,Wales,4,0,Friendly,Glasgow,Scotland,Scotland,Wales,1876
6,1877-03-03,England,Scotland,1,3,Friendly,London,England,Scotland,England,1877
7,1877-03-05,Wales,Scotland,0,2,Friendly,Wrexham,Wales,Scotland,Wales,1877
8,1878-03-02,Scotland,England,7,2,Friendly,Glasgow,Scotland,Scotland,England,1878
9,1878-03-23,Scotland,Wales,9,0,Friendly,Glasgow,Scotland,Scotland,Wales,1878
10,1879-01-18,England,Wales,2,1,Friendly,London,England,England,Wales,1879
11,1879-04-05,England,Scotland,5,4,Friendly,London,England,England,Scotland,1879
12,1879-04-07,Wales,Scotland,0,3,Friendly,Wrexham,Wales,Scotland,Wales,1879
13,1880-03-13,Scotland,England,5,4,Friendly,Glasgow,Scotland,Scotland,England,1880
14,1880-03-15,Wales,England,2,3,Friendly,Wrexham,Wales,England,Wales,1880
15,1880-03-27,Scotland,Wales,5,1,Friendly,Glasgow,Scotland,Scotland,Wales,1880
16,1881-02-26,England,Wales,0,1,Friendly,Blackburn,England,Wales,England,1881
17,1881-03-12,England,Scotland,1,6,Friendly,London,England,Scotland,England,1881
18,1881-03-14,Wales,Scotland,1,5,Friendly,Wrexham,Wales,Scotland,Wales,1881
19,1882-02-18,Northern Ireland,England,0,13,Friendly,Belfast,Ireland,England,Northern Ireland,1882
20,1882-02-25,Wales,Northern Ireland,7,1,Friendly,Wrexham,Wales,Wales,Northern Ireland,1882
21,1882-03-11,Scotland,England,5,1,Friendly,Glasgow,Scotland,Scotland,England,1882
22,1882-03-13,Wales,England,5,3,Friendly,Wrexham,Wales,Wales,England,1882
23,1882-03-25,Scotland,Wales,5,0,Friendly,Glasgow,Scotland,Scotland,Wales,1882
24,1883-02-03,England,Wales,5,0,Friendly,London,England,England,Wales,1883
25,1883-02-24,England,Northern Ireland,7,0,Friendly,Liverpool,England,England,Northern Ireland,1883
26,1883-03-10,England,Scotland,2,3,Friendly,Sheffield,England,Scotland,England,1883
27,1883-03-12,Wales,Scotland,0,3,Friendly,Wrexham,Wales,Scotland,Wales,1883
28,1883-03-17,Northern Ireland,Wales,1,1,Friendly,Belfast,Ireland,Wales,Wales,1883
29,1884-01-26,Northern Ireland,Scotland,0,5,British Championship,Belfast,Ireland,Scotland,Northern Ireland,1884
30,1884-02-09,Wales,Northern Ireland,6,0,British Championship,Wrexham,Wales,Wales,Northern Ireland,1884
31,1884-02-23,Northern Ireland,England,1,8,British Championship,Belfast,Ireland,England,Northern Ireland,1884
32,1884-03-15,Scotland,England,1,0,British Championship,Glasgow,Scotland,Scotland,England,1884
33,1884-03-17,Wales,England,0,4,British Championship,Wrexham,Wales,England,Wales,1884
34,1884-03-29,Scotland,Wales,4,1,British Championship,Glasgow,Scotland,Scotland,Wales,1884
35,1885-02-28,England,Northern Ireland,4,0,British Championship,Manchester,England,England,Northern Ireland,1885
36,1885-03-14,England,Wales,1,1,British Championship,Blackburn,England,Wales,Wales,1885
37,1885-03-14,Scotland,Northern Ireland,8,2,British Championship,Glasgow,Scotland,Scotland,Northern Ireland,1885
38,1885-03-21,England,Scotland,1,1,British Championship,London,England,Scotland,Scotland,1885
39,1885-03-23,Wales,Scotland,1,8,British Championship,Wrexham,Wales,Scotland,Wales,1885
40,1885-04-11,Northern Ireland,Wales,2,8,British Championship,Belfast,Ireland,Wales,Northern Ireland,1885
41,1885-11-28,USA,Canada,0,1,Friendly,Newark,USA,Canada,USA,1885
42,1886-02-27,Wales,Northern Ireland,5,0,British Championship,Wrexham,Wales,Wales,Northern Ireland,1886
43,1886-03-13,Northern Ireland,England,1,6,British Championship,Belfast,Ireland,England,Northern Ireland,1886
44,1886-03-20,Northern Ireland,Scotland,2,7,British Championship,Belfast,Ireland,Scotland,Northern Ireland,1886
45,1886-03-27,Scotland,England,1,1,British Championship,Glasgow,Scotland,England,England,1886
46,1886-03-29,Wales,England,1,3,British Championship,Wrexham,Wales,England,Wales,1886
47,1886-04-10,Scotland,Wales,4,1,British Championship,Glasgow,Scotland,Scotland,Wales,1886
48,1886-11-25,USA,Canada,3,2,Friendly,Newark,USA,USA,Canada,1886
49,1887-02-05,England,Northern Ireland,7,0,British Championship,Sheffield,England,England,Northern Ireland,1887

In [33]:
data.groupby(['Year'])