In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.datasets.samples_generator import make_blobs

In [2]:
data = pd.read_csv("results.csv")
# data["Winner"] = np.where(data['home_score']>data['away_score'], data['home_team'], data['away_team'])
# data["Loser"] = np.where(data['home_score']<data['away_score'], data['home_team'], data['away_team'])
something = data["date"].str.split(pat='-', expand=True)
data["Year"] = something[0]

# data['tournament'].unique()

# 'FIFA World Cup'    'FIFA World Cup qualification'
data = data[data['tournament'] == 'FIFA World Cup']
 
print(len(data))

836

In [3]:
print(len(data['home_team'].unique()))
teams = data['home_team'].unique()
years = data['Year'].unique()

76

In [4]:
new_data = {}
new_data["Year"] = []
new_data["Country"] = []
for team in teams: 
    for year in years:
        new_data["Year"] = np.append(new_data["Year"], year)
        new_data["Country"] = np.append(new_data["Country"], team)

In [5]:
new_df = pd.DataFrame(new_data)

In [6]:
new_df

                 Country  Year
0                Belgium  1930
1                Belgium  1934
2                Belgium  1938
3                Belgium  1950
4                Belgium  1954
5                Belgium  1958
6                Belgium  1962
7                Belgium  1966
8                Belgium  1970
9                Belgium  1974
10               Belgium  1978
11               Belgium  1982
12               Belgium  1986
13               Belgium  1990
14               Belgium  1994
15               Belgium  1998
16               Belgium  2002
17               Belgium  2006
18               Belgium  2010
19               Belgium  2014
20                France  1930
21                France  1934
22                France  1938
23                France  1950
24                France  1954
25                France  1958
26                France  1962
27                France  1966
28                France  1970
29                France  1974
...                  ...   ...
1490            Slovakia  1978
1491            Slovakia  1982
1492            Slovakia  1986
1493            Slovakia  1990
1494            Slovakia  1994
1495            Slovakia  1998
1496            Slovakia  2002
1497            Slovakia  2006
1498            Slovakia  2010
1499            Slovakia  2014
1500  Bosnia-Herzegovina  1930
1501  Bosnia-Herzegovina  1934
1502  Bosnia-Herzegovina  1938
1503  Bosnia-Herzegovina  1950
1504  Bosnia-Herzegovina  1954
1505  Bosnia-Herzegovina  1958
1506  Bosnia-Herzegovina  1962
1507  Bosnia-Herzegovina  1966
1508  Bosnia-Herzegovina  1970
1509  Bosnia-Herzegovina  1974
1510  Bosnia-Herzegovina  1978
1511  Bosnia-Herzegovina  1982
1512  Bosnia-Herzegovina  1986
1513  Bosnia-Herzegovina  1990
1514  Bosnia-Herzegovina  1994
1515  Bosnia-Herzegovina  1998
1516  Bosnia-Herzegovina  2002
1517  Bosnia-Herzegovina  2006
1518  Bosnia-Herzegovina  2010
1519  Bosnia-Herzegovina  2014

[1520 rows x 2 columns]

In [ ]:
new_df["Wins"] = 0
new_df["Losses"] = 0
new_df["Draws"] = 0
new_df["Points Scored"] = 0
new_df["Points Against"] = 0

new_df.head()

In [ ]:
for i, r in new_df.iterrows():
    loop_df = data.loc[(data['Year'] == r['Year']) & ((data['home_team'] == r['Country']) | (data['away_team'] == r['Country'])), :]
    wins = 0
    losses = 0
    draws = 0
    scored = 0
    against = 0
    for index, row in loop_df.iterrows():
        if row['home_team'] == r['Country']:            
            if row['home_score'] > row['away_score']:
                new_df.loc[i, 'Wins'] += 1
            elif row['home_score'] == row['away_score']:
                new_df.loc[i, 'Draws'] += 1
            else:
                new_df.loc[i, 'Losses'] +=1
        else:
            if row['home_score'] > row['away_score']:
                new_df.loc[i, 'Losses'] += 1
            elif row['home_score'] == row['away_score']:
                new_df.loc[i, 'Draws'] += 1
            else:
                new_df.loc[i, 'Wins'] +=1
                
        if row['home_team'] == r['Country']:
            new_df.loc[i, 'Points Scored'] = new_df.loc[i, 'Points Scored'] + row['home_score']
            new_df.loc[i, 'Points Against'] =  new_df.loc[i, 'Points Against'] + row['away_score'] 
        else:
            new_df.loc[i, 'Points Scored'] = new_df.loc[i, 'Points Scored'] + row['away_score']
            new_df.loc[i, 'Points Against'] =  new_df.loc[i, 'Points Against'] + row['home_score']

In [ ]:
# data.loc[(data['Year'] == '2005') & ((data['home_team'] == 'Scotland') | (data['away_team'] == 'Scotland')), :]

In [ ]:
new_df['Ttl Games'] = new_df['Wins'] + new_df['Draws'] + new_df['Losses']
new_df['Win Pct'] = new_df['Wins'] / new_df['Ttl Games']
new_df['PPG'] = new_df['Points Scored'] / new_df['Ttl Games']

In [ ]:
placement_df = pd.read_csv('raw_winners.csv')

In [ ]:
placement_df.head()

In [ ]:
new_df = pd.merge(new_df, placement_df,  how='left', left_on=['Year','Country'], right_on = ['year','team'])

In [ ]:
new_df = new_df[new_df['Ttl Games'] != 0]

In [ ]:
new_df.head()

In [ ]:
new_df.to_csv("TEST_dataset.csv")