In [2]:
import pandas as pd

In [11]:
newdata = pd.read_csv('new_dataset.csv', encoding = "ISO-8859-1")

In [12]:
# newdata = newdata[newdata['Ttl Games'] != 0]
newdata

,Unnamed: 0,Country,Year,Wins,Losses,Draws,Points Scored,Points Against,Ttl Games,Win Pct,PPG,year,position,team
0,43,Scotland,1915,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
1,44,Scotland,1916,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
2,45,Scotland,1917,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
3,46,Scotland,1918,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
4,47,Scotland,1919,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
5,68,Scotland,1940,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
6,69,Scotland,1941,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
7,70,Scotland,1942,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
8,71,Scotland,1943,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
9,72,Scotland,1944,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
10,73,Scotland,1945,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
11,146,Scotland,2018,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
12,190,England,1915,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
13,191,England,1916,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
14,192,England,1917,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
15,193,England,1918,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
16,215,England,1940,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
17,216,England,1941,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
18,217,England,1942,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
19,218,England,1943,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
20,219,England,1944,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
21,293,England,2018,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
22,294,Wales,1872,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
23,295,Wales,1873,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24,296,Wales,1874,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
25,297,Wales,1875,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
26,337,Wales,1915,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
27,338,Wales,1916,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
28,339,Wales,1917,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
29,340,Wales,1918,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24657,35837,China PR,1988,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24658,35838,China PR,1989,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24659,35839,China PR,1990,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24660,35840,China PR,1991,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24661,35841,China PR,1992,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24662,35842,China PR,1993,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24663,35843,China PR,1994,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24664,35844,China PR,1995,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24665,35845,China PR,1996,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24666,35846,China PR,1997,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24667,35847,China PR,1998,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24668,35848,China PR,1999,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24669,35849,China PR,2000,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24670,35850,China PR,2001,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24671,35851,China PR,2002,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24672,35852,China PR,2003,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24673,35853,China PR,2004,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24674,35854,China PR,2005,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24675,35855,China PR,2006,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24676,35856,China PR,2007,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24677,35857,China PR,2008,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24678,35858,China PR,2009,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24679,35859,China PR,2010,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24680,35860,China PR,2011,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24681,35861,China PR,2012,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24682,35862,China PR,2013,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24683,35863,China PR,2014,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24684,35864,China PR,2015,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24685,35865,China PR,2016,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN
24686,35867,China PR,2018,0,0,0,0,0,0,NaN,NaN,NaN,NaN,NaN