In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.datasets.samples_generator import make_blobs

In [4]:
data = pd.read_csv("results.csv")
# data["Winner"] = np.where(data['home_score']>data['away_score'], data['home_team'], data['away_team'])
# data["Loser"] = np.where(data['home_score']<data['away_score'], data['home_team'], data['away_team'])
something = data["date"].str.split(pat='-', expand=True)
data["Year"] = something[0]
 
data.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,Year
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,1872
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,1873
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,1874
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,1875
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,1876

In [3]:
print(len(data['home_team'].unique()))
teams = data['home_team'].unique()
years = data['Year'].unique()

244

In [ ]:
new_data = {}
new_data["Year"] = []
new_data["Country"] = []
for team in teams: 
    for year in years:
        new_data["Year"] = np.append(new_data["Year"], year)
        new_data["Country"] = np.append(new_data["Country"], team)

In [ ]:
new_df = pd.DataFrame(new_data)

In [ ]:
new_df.head()

In [ ]:
new_df["Wins"] = 0
new_df["Losses"] = 0
new_df["Draws"] = 0
new_df["Points Scored"] = 0
new_df["Points Against"] = 0

new_df.head()

In [ ]:
for i, r in new_df.iterrows():
    loop_df = data.loc[(data['Year'] == r['Year']) & ((data['home_team'] == r['Country']) | (data['away_team'] == r['Country'])), :]
    wins = 0
    losses = 0
    draws = 0
    scored = 0
    against = 0
    for index, row in loop_df.iterrows():
        if row['home_score'] > row['away_score']:
            new_df.loc[i, 'Wins'] += 1
        elif row['home_score'] == row['away_score']:
            new_df.loc[i, 'Draws'] += 1
        else:
            new_df.loc[i, 'Losses'] +=1
            
        if row['home_team'] = r['Country']:
            new_df.loc[i, 'Points Scored'] = new_df.loc[i, 'Points Scored'] + row['home_score']
            new_df.loc[i, 'Points Against'] =  new_df.loc[i, 'Points Against'] + row['away_score'] 
        else:
            new_df.loc[i, 'Points Scored'] = new_df.loc[i, 'Points Scored'] + row['away_score']
            new_df.loc[i, 'Points Against'] =  new_df.loc[i, 'Points Against'] + row['home_score']

In [ ]:
# data.loc[(data['Year'] == '2005') & ((data['home_team'] == 'Scotland') | (data['away_team'] == 'Scotland')), :]

In [ ]:
new_df['Ttl Games'] = new_df['Wins'] + new_df['Draws'] + new_df['Losses']
new_df['Win Pct'] = new_df['Wins'] / new_df['Ttl Games']
new_df['PPG'] = new_df['Points Scored'] / new_df['Ttl Games']

In [ ]:
new_df.to_csv("new_dataset.csv")